.navbar {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 15px;
}
.navbar-back {
    position: absolute;
    margin: 16px;
    border: 0px;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar h1{
    color: #001833;
    font-weight: 500;
    margin-top: 18px;
    display: flex;
    flex: 1;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    padding-left: 100px;
}